body{
    background-color: #F0FFFF;
}
.form-control{
    border: 1px solid blue;
    box-shadow: 1px 1px 1px black;
}
.form-control:hover{
    box-shadow: 2px 2px 2px black;    
}
.btn{
    box-shadow: 1px 1px 1px black;    
}
.btn:hover{
    box-shadow: 2px 2px 2px black;
    text-decoration: underline;
}
h3{
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}
h1{
    text-shadow: 1px 1px 1px black;   
}