
.input-forms{
    border: 1px solid #36454f;
    box-shadow: 1px 1px 1px #36454f;
}
.input-forms:hover{
    box-shadow: 2px 2px 2px #36454f;    
}
/* #owner-buttons{
    box-shadow: 1px 1px 1px black;    
} */
.btn:hover{
    box-shadow: 2px 2px 2px black;
    text-decoration: underline;
}
.font-style{
    color: #184a73;
}
