body {
    font-family: 'Quicksand', sans-serif;
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container Video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .searchHeadline {
      font-weight: bold;
      color: white;
    text-shadow: 2px 2px black;
    margin-left: 5%;      
  }
  .searchDetails {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 5%;      
    
  }
  .signUpHeadline {
    margin-left: 5%;      
      
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
.signUpForm {
    margin-left: 5%;
}

svg {
    margin-right: 5%;
}